body {
  color: white;
  background-color: black;
}

h1 {
  font-size: 80px;
  padding-top: 50px;
  padding-bottom: 50px;
}
h2 {
  font-size: 10px;
}
.list-group-item {
  background-color: dimgrey;
}
